<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CommonSuite">
  <test thread-count="5" name="Google Test">
    <classes>
      <class name="sample1.SampleTest1"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Bing Test">
    <classes>
      <class name="sampleTest2_Version2.SampleTest2_Version2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
